@keyframes zoomIn {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }
  
  .landing-header {
    color: #FFF;
    font-size: 72px;
    text-align: center;
    animation: zoomIn 3s;
    font-family: "Charismatic sans serif";
    background: linear-gradient(to right, red, blue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  body {
    background: linear-gradient(to right, #4b0082, #ff00ff, #8b008b);
  }
  
/* {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}*/
  
.tldw-main-input {
  display: flex;
}