/* Header */

.site-header {
    background-color: #00FFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-size: 48px;
    text-align: center;
    animation: zoomIn 5s;
    font-family: "Charismatic sans serif";
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    
    #site-title-text {
    font-family: 'Charismatic', sans-serif;
    font-size: 100%;
    color: linear-gradient(to right, rgb(255, 132, 0), violet);;
    text-shadow: 0px 2px 3px rgba(0,0,0,0.5);
    margin-left: 45vw;
    }
    
    .navigator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 48px;
    }
    
    .nav-item-text {
    font-family: 'Charismatic', sans-serif;
    font-size: 75%;
    color: #de2349;
    text-shadow: 0px 2px 3px rgba(0,0,0,0.5);
    margin-left: 0.75vw;
    margin-right: 0.75vw;
    align-items: right;
    }